body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

center {
    margin-top: 50px;
}

.header {
    background-color: rgb(227, 227, 227);
    padding: 10px;
}

.sub-header {
    color: blueviolet;
}

input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkviolet;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

li button {
    background-color: red;
    padding: 5px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

li button:hover {
    background-color: darkred;
}
